@model TwitterClone_MVC_WebAPI.Models.Person

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<div class="container">
    @using (Html.BeginForm("User","Login"))
    {
    <table class="table table-bordered">
        <tr>
            <td>
                UserName:
            </td>
            <td class="form-control">
                @Html.TextBoxFor(m => m.fullname)
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td class="form-control">
                @Html.TextBoxFor(m => m.password)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Login"    />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ActionLink("Register", "SignUp")
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-danger">
                @TempData["err"]
            </td>
        </tr>
    </table>
    }
</div>


