@model TwitterClone_MVC_WebAPI.Models.TwitterModal

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
  <nav>
    <h2></h2>
  </nav>
  <article>
    <h2 class="text-right">
      Welcome @Html.Display("_person.fullname"),
    </h2>

    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    <div class="row">
      <div class="col-sm-8 text-left">
        What are you doing ?
        @Html.TextAreaFor(m => m._myTweet.message, new { @class = "form-control" })
        <input class="btn btn-primary form-control" type="button" value="Update" />
      </div>
      <div class="col-sm-8 text-left">


      </div>
    </div>
    }

    <div class="float">
      @{Html.RenderAction("GetTweetMessages", "Twitter", new { userId = Model._person.user_id });}
    </div>
  </article>
</section>
